@{
    Layout = "~/shared/_layout.cshtml";
}

@{
    var name = "";
    var width = "";
    var length = "";
    var materialType = "";
    var numOfDrawers = "";
    var rushOrderDays = "";
    var surfacePrice = "";
    var surfaceUpgrade = "";
    var shippingPrice = "";
    var surfaceArea = "";
    var price = "";
    var id = UrlData[0];

    if (id.IsEmpty())
    {
        Response.Redirect("~/index");
    }

    var db = Database.Open("Orders");
    var row = db.QuerySingle("SELECT * FROM Orders2 WHERE Id=@0", id);

    name = row.Name;
    width = row.Width;
    length = row.Length;
    materialType = row.MaterialType;
    numOfDrawers = row.NumDrawers;
    rushOrderDays = row.RushDays;
    price = row.Price;

    if (IsPost && !id.IsEmpty())
    {
        var queryString = "DELETE FROM Orders2 WHERE Id=@0";

        db.Execute(queryString, id);
        Response.Redirect(Href("~/index"));
    }
}


@section header {
    <header>
        <h1>Delete</h1>
    </header>
}

<form id="new-entry" method="post">
    @Html.ValidationSummary()
    <h2>Order to be Deleted:</h2>

    <p>
        <span>Customer name:</span>
        <span>@name</span>
    </p>

    <p>
        <span>Desk width:</span>
        <span>@width</span>
    </p>

    <p>
        <span>Desk length:</span>
        <span>@length</span>
    </p>

    <p>
        <span>Desk material type:</span>
        <span>@materialType</span>
    </p>
    
    <p>
        <span>Number of drawers: </span>
        <span>@numOfDrawers</span>
    </p>
    <p>
        <span>Shipping speed (in days): </span>
        <span>@rushOrderDays</span>
    </p>
    <p>
        <span>Price:</span>
        <span>@price</span>
    </p>

    <div class="button-group">
        <a href="~/index/view-orders" class="btn btn-default">Cancel deletion and return to order list.</a>
        <button type="submit" class="btn btn-primary">DELETE (This is final.)</button>
        
    </div>
</form>