@{
    Layout = "~/shared/_layout.cshtml";
}

@{
    var name = "";
    var width = "";
    var length = "";
    var materialType = "";
    var numOfDrawers = "";
    var rushOrderDays = "";
    var surfacePrice = "";
    var surfaceUpgrade = "";
    var shippingPrice = "";
    var surfaceArea = "";
    var price = "";
    var id = UrlData[0];

    if (id.IsEmpty())
    {
        Response.Redirect("~/index");
    }

    var db = Database.Open("Orders");
    var row = db.QuerySingle("SELECT * FROM Orders2 WHERE Id=@0", id);

    name = row.Name;
    width = row.Width;
    length = row.Length;
    materialType = row.MaterialType;
    numOfDrawers = row.NumDrawers;
    rushOrderDays = row.RushDays;
    price = row.Price;

    if (IsPost && !id.IsEmpty())
    {
        var queryString = "DELETE FROM Orders2 WHERE Id=@0";

        db.Execute(queryString, id);
        Response.Redirect(Href("~/index"));
    }
}


@section header {
    <header>
        <h1>Delete the Order</h1>
    </header>
}

<form id="new-entry" method="post">
    @Html.ValidationSummary()

    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" name="name" type="text" size="20" value="@name" disabled/>
        @Html.ValidationMessage("name")
    </div>
    <div class="form-group">
        <label for="width">Width (12 to 48 inches):</label>
        <input class="form-control" name="width" type="text" size="20" value="@width" disabled/>
        @Html.ValidationMessage("width")
    </div>
    <div class="form-group">
        <label for="length">Length (12 to 60 inches):</label>
        <input class="form-control" name="length" type="text" size="20" value="@length" disabled />
        @Html.ValidationMessage("length")
    </div>
    <!-- need to figure out how to pre-set these values to the correct ones for the id -->
    <div class="form-group">
        <label for="getMaterial">Desk Material:</label>
        <select class="form-control" name="getMaterial" disabled>
            <option value="pine" @(materialType == "pine" ? "selected" : "")>Pine - $50</option>
            <option value="poplar" @(materialType == "poplar" ? "selected" : "")>Poplar - $75</option>
            <option value="laminate" @(materialType == "laminate" ? "selected" : "")>Laminate - $100</option>
            <option value="oak" @(materialType == "oak" ? "selected" : "")>Oak - $200</option>
            <option value="alder" @(materialType == "alder" ? "selected" : "")>Alder - $250</option>
        </select>
    </div>
    <div class="form-group">
        <label for="getDrawers">Number Of Drawers:</label>
        <select class="form-control" name="getDrawers" disabled>
            <option value="0" @(numOfDrawers == "zero" ? "selected" : "")>0</option>
            <option value="1" @(numOfDrawers == "one" ? "selected" : "")>1 - $50</option>
            <option value="2" @(numOfDrawers == "two" ? "selected" : "")>2 - $100</option>
            <option value="3" @(numOfDrawers == "three" ? "selected" : "")>3 - $150</option>
            <option value="4" @(numOfDrawers == "four" ? "selected" : "")>4 - $200</option>v
            <option value="5" @(numOfDrawers == "five" ? "selected" : "")>5 - $250</option>
            <option value="6" @(numOfDrawers == "six" ? "selected" : "")>6 - $300</option>
            <option value="7" @(numOfDrawers == "seven" ? "selected" : "")>7 - $350</option>
        </select>
    </div>
    <div class="form-group">
        <label for="getDays">Shipping Days:</label>
        <select class="form-control" name="getDays" disabled>
            <option value="3" @(rushOrderDays == "three" ? "selected" : "")>3 days</option>
            <option value="5" @(rushOrderDays == "five" ? "selected" : "")>5 days</option>
            <option value="7" @(rushOrderDays == "seven" ? "selected" : "")>7 days</option>
            <option value="14" @(rushOrderDays == "fourteen" ? "selected" : "")>14 days</option>
        </select>
    </div>

    <div class="button-group">
        <a href="~/index" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
        
    </div>
</form>