@{
    <link href="~/assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />

        var name = "";
        var width = "";
        var length = "";
        var materialType = "";
        var numOfDrawers = "";
        var rushOrderDays = "";
        var price = "";
        var id = "";

        if (!IsPost)
        {
            if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
            {
                id = Request.QueryString["ID"];
                var db = Database.Open("Orders");
                var dbCommand = "SELECT * FROM Orders2 WHERE ID = @0";
                var row = db.QuerySingle(dbCommand, id);
                if (row != null)
                {
                    name = row.Name;
                    width = row.Width;
                    length = row.Length;
                    materialType = row.MaterialType;
                    numOfDrawers = row.NumDrawers;
                    rushOrderDays = row.RushDays;
                    price = row.Price;
                }
                else
                {
                    Validation.AddFormError("No order was found for that ID.");
                }
            }
            else
            {
                Validation.AddFormError("No order was selected.");
            }
        }

        if (IsPost && !Request["buttonDelete"].IsEmpty())
        {
            id = Request.Form["id"];
            var db = Database.Open("Orders");
            var deleteCommand = "DELETE FROM Orders2 WHERE ID = @0";
            db.Execute(deleteCommand, id);
            Response.Redirect("~/index/view-orders");
        }
    }

@section header {
    <header>
        <h1>Delete</h1>
    </header>
}

<form id="new-entry" method="post">
    @Html.ValidationSummary()
    <h2>Order to be Deleted:</h2>

    <p>
        <span>Customer name:</span>
        <span>@name</span>
    </p>

    <p>
        <span>Desk width:</span>
        <span>@width</span>
    </p>

    <p>
        <span>Desk length:</span>
        <span>@length</span>
    </p>

    <p>
        <span>Desk material type:</span>
        <span>@materialType</span>
    </p>
    
    <p>
        <span>Number of drawers: </span>
        <span>@numOfDrawers</span>
    </p>
    <p>
        <span>Shipping speed (in days): </span>
        <span>@rushOrderDays</span>
    </p>
    <p>
        <span>Price:</span>
        <span>@price</span>
    </p>

    <div class="button-group">
        <a href="~/index/view-orders" class="btn btn-default">Cancel deletion and return to order list.</a>
        <button type="submit" class="btn btn-primary">DELETE (This is final.)</button>
        
    </div>
</form>