@{
    Layout = "~/shared/_layout.cshtml";
}

@{
    Validation.RequireField("name", "Name is required.");
    Validation.RequireField("width", "Width is required.");
    Validation.RequireField("length", "Length is required.");
    Validation.Add("width", Validator.Integer("Width must be an integer"));
    Validation.Add("width", Validator.Range(12, 48, "Width must be be between 12 and 48 inches."));
    Validation.Add("length", Validator.Integer("Length must be an integer"));
    Validation.Add("length", Validator.Range(12, 60, "Length must be be between 12 and 60 inches."));

    var name = "";
    var width = "";
    var length = "";
    var materialType = "";
    var numOfDrawers = "";
    var rushOrderDays = "";
    var id = UrlData[0];

    if (id.IsEmpty())
    {
        Response.Redirect("~/index/view-orders");
    }

    var db = Database.Open("Orders");

    if (IsPost && Validation.IsValid())
    {

        name = Request.Form["name"];
        width = Request.Form["width"];
        length = Request.Form["length"];
        materialType = Request.Form["getMaterial"];
        numOfDrawers = Request.Form["getDrawers"];
        rushOrderDays = Request.Form["getDays"];

        var drawerPrice = 0;
        var surfacePrice = 0;
        var surfaceUpgrade = 0;
        var shippingPrice = 0;
        var surfaceArea = 0;
        var price = 0;
        var basePrice = 200;

        //use the length and width to determine the surfaceArea upgrade
        try
        {
            surfaceArea = Int32.Parse(width) * Int32.Parse(length);
            surfacePrice = surfaceArea > 1000 ? (surfaceArea - 1000) * 5 : 0;
        }
        catch (IOException e)
        {
            Console.WriteLine("IOException source: {0}", e.Source);
        }
        //get the upgrade for the material
        surfaceUpgrade = db.QueryValue("SELECT Upgrade FROM Materials WHERE Material=(@0)", materialType);

        //get the upgrade for the Rush Days Option
        if (surfaceArea < 1000)
        {
            shippingPrice = db.QueryValue("SELECT smallDesk FROM shippingPrices WHERE Days=(@0)", rushOrderDays);
        }
        else if (surfaceArea >= 1000 && surfaceArea < 1999)
        {
            shippingPrice = db.QueryValue("SELECT medDesk FROM shippingPrices WHERE Days=(@0)", rushOrderDays);
        }
        else if (surfaceArea >= 2000)
        {
            shippingPrice = db.QueryValue("SELECT largeDesk FROM shippingPrices WHERE Days=(@0)", rushOrderDays);
        }

        // Calculate Drawer Price
        drawerPrice = Int32.Parse(numOfDrawers) * 50;

        // Calculate Total Price
        price = basePrice + surfacePrice + drawerPrice + shippingPrice;

        var queryString = "UPDATE Orders2 SET Name=@0, Width=@1, Length=@2, NumDrawers=@3, MaterialType=@4, RushDays=@5, Price=@6 WHERE Id=@7";
        db.Execute(queryString, name, width, length, numOfDrawers, materialType, rushOrderDays, price, id);
        Response.Redirect("~/index");
    } else
    {
        var queryString = "SELECT * FROM Orders2 WHERE Id=@0";
        var row = db.QuerySingle(queryString, id);

        name = row.Name;
        width = row.Width;
        length = row.Length;
        materialType = row.MaterialType;
        numOfDrawers = row.NumDrawers;
        rushOrderDays = row.RushDays;

    }
}



@section header {
    <header>
        <h1>Edit Order for @name</h1>
    </header>
}
@RenderPage("~/shared/_head.cshtml")
<form id="edit-entry" method="post">
    
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" name="name" type="text" size="20" value="@name" />
        @Html.ValidationMessage("name")
    </div>
    <div class="form-group">
        <label for="width">Width (12 to 48 inches):</label>
        <input class="form-control" name="width" type="text" size="20" value="@width" />
        @Html.ValidationMessage("width")
    </div>
    <div class="form-group">
        <label for="length">Length (12 to 60 inches):</label>
        <input class="form-control" name="length" type="text" size="20" value="@length" />
        @Html.ValidationMessage("length")
    </div>

   <!-- need to figure out how to pre-set these values to the correct ones for the id -->

    <div class="form-group">
        <label for="getMaterial">Desk Material:</label>
        <select class="form-control" name="getMaterial">
            <option value="pine" @(materialType == "pine" ? "selected" : "")>Pine - $50</option>
            <option value="poplar" @(materialType == "poplar" ? "selected" : "")>Poplar - $75</option>
            <option value="laminate" @(materialType == "laminate" ? "selected" : "")>Laminate - $100</option>
            <option value="oak" @(materialType == "oak" ? "selected" : "")>Oak - $200</option>
            <option value="alder" @(materialType == "alder" ? "selected" : "")>Alder - $250</option>
        </select>
    </div>
    <div class="material-types row">
        <div class="img-container">
            <img class="pine" src="~/assets/images/pine.jpg" height="100" width="100" />
        </div>
        <div class="img-container">
            <img class="poplar" src="~/assets/images/poplar.jpg" height="100" width="100" />
        </div>
        <div class="img-container">
            <img class="laminate" src="~/assets/images/laminate.jpg" height="100" width="100" />
        </div>
        <div class="img-container">
            <img class="oak" src="~/assets/images/oak.jpeg" height="100" width="100" />
        </div>
        <div class="img-container">
            <img class="alder" src="~/assets/images/alder.jpg" height="100" width="100" />
        </div>
    </div>
    <div class="form-group">
        <label for="getDrawers">Number Of Drawers:</label>
        <select class="form-control" name="getDrawers">
            <option value="0" @(numOfDrawers == "zero" ? "selected" : "")>0</option>
            <option value="1" @(numOfDrawers == "one" ? "selected" : "")>1 - $50</option>
            <option value="2" @(numOfDrawers == "two" ? "selected" : "")>2 - $100</option>
            <option value="3" @(numOfDrawers == "three" ? "selected" : "")>3 - $150</option>
            <option value="4" @(numOfDrawers == "four" ? "selected" : "")>4 - $200</option>v
            <option value="5" @(numOfDrawers == "five" ? "selected" : "")>5 - $250</option>
            <option value="6" @(numOfDrawers == "six" ? "selected" : "")>6 - $300</option>
            <option value="7" @(numOfDrawers == "seven" ? "selected" : "")>7 - $350</option>
        </select>
    </div>
    <div class="form-group">
        <label for="getDays">Shipping Days:</label>
        <select class="form-control" name="getDays">
            <option value="3" @(rushOrderDays == "three" ? "selected" : "")>3 days</option>
            <option value="5" @(rushOrderDays == "five" ? "selected" : "")>5 days</option>
            <option value="7" @(rushOrderDays == "seven" ? "selected" : "")>7 days</option>
            <option value="14" @(rushOrderDays == "fourteen" ? "selected" : "")>14 days</option>
        </select>
    </div>
    <div class="button-group">
        <a href="~/index/display-orders" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>